body {
    background-color: lightsteelblue;
    display: flex;
    min-width: 950px;
}

.header {
    text-align: center;
    font-size: 30px;
}

.navSection {
    width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 200px;
    gap: 20px;
    text-align: center;
    font-size: 25px;
}


.mainSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 50px;
}

.card {
    padding: 10px;
    height: 300px;
    width: 200px;
    box-shadow: 0 4px 8px 0;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.card .placeHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}

#placeHolder:hover {
    background-color: rgba(255, 255, 255, 0.93);
    box-shadow: 0 6px 10px 0;
}

#xDiv {
    background: silver;
    height: 10px;
    width: 50px;
    position: relative;
    left: 40%;
    top: 50%;
}

#yDiv {
    background: silver;
    width: 10px;
    height: 50px;
    position: relative;
    top: 40%;
    left: 50%;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
}

.readBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.book.title {
    font-size: 25px;
}

.author {
    font-size: 18px;
}

#btnDelete {
    width: 100%;
}

.form-container {
    display: none;
    padding: 10px;
    position: fixed;
    left: 50%;
    top: 20%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 15px 0;
}

.form {
    min-width: 250px;
    font-size: 20px;
}

.form h1 {
    text-align: center;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    font-size: 20px;
}


#formCheck {
    display: flex;
    align-items: center;
}

.form button  {
    font-size: 20px;
    width: 100%;
    margin: 10px auto;
    display: block;
    border-radius: 7px;
    background-color: lightgrey;

}

.form button:hover {
    background-color: rgba(255, 255, 255, 0.79);
    box-shadow: 0 1px 2px 1px;
    background-color: lightgrey;
}
